<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/slider.js"></script>
	{{#if sign}}
	<script>
		//alert( localStorage.getItem('name'));
		let item = document.querySelectorAll('.menu_item');
		item.innerHTML += "<li>Вы зашли как "+localStorage.getItem('name')+"</li>";
	</script>
	{{else}}
	<script>
		let item = document.querySelectorAll('.menu_item');
		item.innerHTML += "<li></li>";
	</script>
	{{/if}}
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">	
</head>
<body>
	<div class="container">
	<header>
		<img src="/img/logo.png" alt="Запорожье">
		<h1>{{header}}</h1>
		<ul class="menu">
			<li class="menu_item"><a href="/" title="Главная"><span class="fa fa-home" aria-hidden="true"></span></a></li>
			<li class="menu_item"><a href="/gallery" title="Галерея"><span class="fa fa-image" aria-hidden="true"></span></a></li>
			<li class="menu_item"><a href="/history" title="История"><span class="fa fa-history" aria-hidden="true"></span></a></li>
			<li class="menu_item"><a href="/map" title="Помощь"><span class="fas fa-info-circle" aria-hidden="true"></span></a></li>
{{#if sign}}
	<li class="menu_item"><a href="/logout" onclick="delData()" title="Выход"><span class="fas fa-sign-out-alt" aria-hidden="true"></span></a></li>
	<script>
		if(("{{role}}" === 'admin')||(localStorage.getItem('name')==='admin')){
			document.write('<li>Вы зашли как <a href=\"\/admin\">'+localStorage.getItem('name')+'</a></li>');
		}	else if(("{{role}}" === 'user')||(localStorage.getItem('name')==='user')){
				document.write('<li>Вы зашли как <a href=\"\/user\">'+localStorage.getItem('name')+'</a></li>');
		}
	</script>
{{else}}
	<li class="menu_item"><a href="/login" title="Логин"><span class="fas fa-sign-in-alt" aria-hidden="true"></span></a></li>	
{{/if}}
		</ul>
	</header>
	<section>
		{{{body}}}
	</section>
	<footer>
		{{copyright}}
	</footer>	
	</div>
	<div class="overlay"></div>
	{{#if sign}}
		<script>
		function delData(){
			localStorage.removeItem("name");
		}
		</script>
	{{/if}}
</body>
</html>